[Unit]
Description=First Boot Welcome Message
After=display-manager.service

[Service]
Type=oneshot
RemainAfterExit=no
Environment=DISPLAY=:0
Environment=XAUTHORITY=/home/robot/.Xauthority
ExecStart=/usr/local/bin/welcome_message.sh
User=robot

[Install]
WantedBy=multi-user.target
